<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <!-- Container wrapper -->
  <div class="container">
    <!-- Navbar brand
    <a class="navbar-brand me-2" href="#">
      <img
        src="Any.do.png"
        height="16"
        alt="Any.do Logo"
        loading="lazy"
        style="margin-top: -1px;"
      />
    </a> -->

    <!-- Toggle button -->
    <button
      class="navbar-toggler"
      type="button"
      data-mdb-toggle="collapse"
      data-mdb-target="#navbarButtonsExample"
      aria-controls="navbarButtonsExample"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarButtonsExample">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/home"><i class="fa fa-fw fa-home"></i> Home</a>
        </li>
       

        <li class="nav-item">
          <a class="nav-link" href="/allTasks"><i class="fa fa-tasks" aria-hidden="true"></i>
            Tasks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/trash"><i class="fa fa-trash" aria-hidden="true"></i>
            Trash</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">        <i class="fa fa-users" aria-hidden="true"></i>

          About us</a>
        </li>
      </ul>
      <!-- Left links -->

      <div class="d-flex align-items-center">
        <% if (active_user_id) { %>
          <form action="/users/logout" method="post">
            <button type="submit" class="btn btn-light px-3 me-2">
              Logout
            </button>
          </form>
          
          <form action="/users/signout" method="post">
            <button type="submit" class="btn btn-light px-3 me-2">
              Sign out
            </button>
          </form>

          <button type="button" class="btn btn-info px-3 me-2">
            Logged as <%= active_user_email.split('@')[0]%>
          </button>
          
        
        <% } else { %>
        <form action="/users/login" method="get">
          <button type="submit" class="btn btn-light px-3 me-2">
            Login
          </button>
        </form>
       

        <form action="/users/signup" method="get">
          <button type="submit" class="btn btn-dark me-3">
            Sign up for free
          </button>
        </form>
        
        <% } %>
        <!-- <a
          class="btn btn-dark px-3"
          href="https://github.com/JugurtaO"
          role="button"
          ><i class="fab fa-github"></i
        ></a> -->
      </div>
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->