.newTask{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 200px;
    margin-right: 120px;
    

}

#savebtn{
    margin-left: 60px;
    height: 20px;
    margin-top: 0px;
}

.global{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


#back-task{
    background-image: url('./background.jpg');
    background-size:cover;
    background-repeat: no-repeat ;
    object-fit: fill;
    width:  100%;
    height: 100%;
   }

#backsignup{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;
   
}
#backlogin{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;
   
}

#actions{
    padding-left: 100px;
}

.slogan{
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}


#edit{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;

}

