.newTask{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    width: 200px;
    margin-right: 120px;
    

}

#savebtn{
    margin-left: 60px;
}

.global{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
}


#back-task{
    background-image: url('./background.jpg');
    background-size:cover;
    background-repeat: no-repeat ;
    object-fit: fill;
    width:  100%;
    height: 100%;
   }

#backsignup{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;
   
}
#backlogin{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;
   
}

#actions{
    padding-left: 100px;
}

.slogan{
    font-family: 'Varela Round', sans-serif;
    color: white;
    font-weight: bolder;
    font-size: 50px;
}


#edit{
    background-image: url("./back-login.jpg");
    background-size:cover;
    background-repeat: no-repeat ;
    width: 100%;
    height: 100%;

}

/* home page */

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
#slo{
    margin-bottom: 700px;
    font-weight: bolder;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#slo2{
    margin-bottom: 700px;
}


/*  about us*/
.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
  }
  
  .social-link:hover,
  .social-link:focus {
    background: #ddd;
    text-decoration: none;
    color: #555;
  }



 